<div class="row">
  <h1>API Pessoas</h1>

  <h4>Busca por nome:</h4>
  <%= form_with url: persons_path, method: :get do |form| %>
    <%= form.text_field :search, value: params[:search], placeholder: "Digite o nome ou parte dele" %>
    <%= form.submit "Buscar", name: nil %>
  <% end %>

  <% if @persons %>
    
    <% @persons.each do |person| %>
      
      <%= link_to person do %>
        <div class="mycard">
          <div class="col-img">
            <%= image_tag person.picture, class:"rounded-circle" %>
          </div>
          <div class="col-info">
            <h5 class="person-title"><%= "#{person.title} #{person.first_name} #{person.last_name}" %></h5>
            <p>Gender: <%= person.gender %></p>
            <p>Email: <%= person.email %></p>
          </div>
        </div>
      <% end %>
    <% end %>
    
    <div class="pagination justify-content-center">
      <%= paginate @persons %>
    </div>
  <% else %>
    <% if params[:search] == "" %>
      <h4>Nenhum resultado encontrado. Tente novamente.</h4>
    <% elsif params[:search]  and @persons.nil? %> <!--O nome buscado não existe-->
      <h4>Nenhum resultado encontrado. Tente novamente.</h4>
    <% end %>
  <% end %>
</div>


