<h1>API Pessoas</h1>

<h4>Busca por nome:</h4>
<%= form_with url: persons_path, method: :get do |form| %>
  <%= form.text_field :search, value: params[:search], placeholder: "Digite o nome ou parte dele" %>
  <%= form.submit "Buscar", name: nil %>
<% end %>

<h2><%= params %></h2>
<p><%= @persons %></p>

<% if @persons %>
  <ul>
    <% @persons.each do |person| %>
      <li><%= person.title %></li>
      <li><%= link_to person.first_name, person %></li>
      <li><%= person.last_name %></li>
      <li><%= person.gender %></li>
      <li><%= person.email %></li>
      <%= image_tag person.picture %>
    <% end %>
  </ul>
  <div class="text-center">
    <%= paginate @persons %>
  </div>
<% end %>

<% if !params[:search].nil? and params[:search].empty? %>
  <h3>Nenhum resultado encontrado.</h3>
<% end %>