<div>
  <h1><%= @person.first_name %> <%= @person.last_name %></h1>
  <p><%= @person.email %></p>
  <%= image_tag @person.picture %>
</div>

<div>
  <%= link_to 'Voltar', "/persons?search=#{cookies[:search]}" %>
</div>
